accelerate==0.33.0
aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
altair==5.4.1
annotated-types==0.7.0
anyio==3.6.2
asttokens==2.4.1
async-timeout==4.0.3
attrs==24.2.0
beautifulsoup4==4.12.3
black==23.3.0
blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
dataclasses-json==0.5.7
datasets==2.18.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.8
dnspython==2.3.0
docstring_parser==0.16
exceptiongroup==1.2.2
executing==2.1.0
fastapi==0.112.2
ffmpy==0.4.0
filelock==3.13.4
filetype==1.2.0
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.2.0
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.9
google-api-core==2.19.2
google-api-python-client==2.145.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.66.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-discoveryengine==0.12.2
google-cloud-resource-manager==1.12.5
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-generativeai==0.8.1
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
gradio==4.42.0
gradio_client==1.3.0
grpc-google-iam-v1==0.13.1
grpcio==1.66.1
grpcio-status==1.66.1
h11==0.14.0
html2text==2024.2.26
httpcore==1.0.5
httplib2==0.22.0
httptools==0.5.0
httpx==0.27.0
huggingface-hub==0.24.6
idna==3.7
importlib_resources==6.4.4
ipython==8.18.1
isort==5.12.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
labelImg==1.8.6
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-text-splitters==0.2.4
langsmith==0.1.117
lapx==0.5.11
llama-index==0.6.9
load-dotenv==0.1.0
loguru==0.7.0
lxml==5.3.0
lz4==4.3.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
minijinja==2.0.1
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
narwhals==1.8.0
networkx==3.3
numexpr==2.8.4
numpy==1.26.4
openai==0.27.7
openapi-schema-pydantic==1.2.4
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
orjson==3.10.7
packaging==24.1
pandas==2.2.2
parso==0.8.4
pathspec==0.11.1
pexpect==4.9.0
pillow==10.4.0
pinecone-client==2.2.1
platformdirs==3.5.1
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==5.28.1
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==17.0.0
pyarrow-hotfix==0.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.9.1
pydantic_core==2.23.3
pydeck==0.9.1
pydub==0.25.1
Pygments==2.18.0
PyMuPDF==1.24.10
PyMuPDFb==1.24.10
pyparsing==3.1.4
PyQt5==5.15.11
PyQt5-Qt5==5.15.15
PyQt5_sip==12.15.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.2
PyYAML==6.0.1
referencing==0.35.1
regex==2023.5.5
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.8.1
roboflow==1.1.49
rpds-py==0.20.0
rsa==4.9
ruff==0.6.2
safetensors==0.4.4
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
semantic-version==2.10.0
sentencepiece==0.2.0
shapely==2.0.6
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.6
SQLAlchemy==2.0.14
stack-data==0.6.3
starlette==0.38.2
streamlit==1.38.0
supervision==0.25.0
sympy==1.13.1
tenacity==8.5.0
threadpoolctl==3.5.0
tiktoken==0.4.0
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
torch==2.5.1
torchvision==0.20.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.44.2
typer==0.12.5
typing-inspect==0.8.0
typing_extensions==4.12.2
tzdata==2024.1
ultralytics==8.3.36
ultralytics-thop==2.0.12
uritemplate==4.1.1
urllib3==1.26.6
uvicorn==0.22.0
uvloop==0.17.0
vertexai==1.66.0
wcwidth==0.2.13
websockets==11.0.3
xxhash==3.4.1
yarl==1.9.4
