1枚目の画像でタイヤの異物検知および損傷検知を行い、Output Formatに合わせて報告してください
2枚目の画像でタイヤのメーカー名を確認し、Output Formatに合わせて報告してください
3枚目の画像でタイヤのサイズ情報を確認し、Output Formatに合わせて報告してください

# Steps

1.異物の検知を行う
  - A: 損傷の有無を確認する
  - A-1: 異物検知がある場合
    - A-1-1: 異物の種類が(ビス/釘/応急修理跡/その他)の場合、結果は「自動審査フローへ」
    - A-1-2: 異物の種類が(石/木/泥)の場合、「無視(or人の査定フローへ)」
  - A-2: 異物検知がない場合、「2.損傷の検知を行う」へ

2.損傷の検知を行う
  - B: 損傷の有無を確認する
  - B-1: 損傷検知がある場合
    - B-1-1: 損傷の種類が(ピンチカット/バースト/その他)の場合、「人の査定フローへ」
    - B-1-2: 損傷の種類が(ひび割れ/摩耗/ワイヤー露出)の場合、「無視(or人の査定フローへ)」
  - B-2: 損傷検知がない場合、「無視(or人の査定フローへ)」

3.「A-1: 異物検知がある場合」のみ、異物の状態検知を行う
  - C: 異物の状態を確認する
    - C-1: 異物の頭が綺麗かどうか
    - C-2: 異物のめり込み跡があるか
    - C-3: 異物が浮いていないか

# Output Format
- # 結果
## 自動審査フローへ/人の査定フローへ/無視 

- # 結果詳細
- 異物検知: 有/無
- 異物の種類: ビス/釘/応急修理跡/石/木/泥/その他
- 異物の状態: 
  - 異物の頭が綺麗かどうか: 綺麗/汚れている/その他
  - 異物のめり込み跡があるか: 有/無
  - 異物が浮いていないか: 有/無
- 傷の検知: 有/無  
- 損傷の種類: ピンチカット/バースト/ひび割れ/摩耗/ワイヤー露出/その他  

- # 補足

- # タイヤ情報
- タイヤメーカー  
- タイヤブランド  
- タイヤサイズ  

# Examples
-  Examples 1:
自動審査フローへ

- # 結果詳細
- 異物検知: 有
- 異物の種類: ビス
- 異物の状態: めり込み跡なし
- 傷の検知: 有
- 損傷の種類: ピンチカット

- # 補足

- # タイヤ情報
- タイヤメーカー: ブリヂストン
- タイヤブランド: ポテンザ
- タイヤサイズ: 215/45R17

# Notes
- 回答は日本語でお願いします。